<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JourneySpark Travel Planner : Plan the Journey. Spark the Adventure.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="app-shell">
     <%- include ('partials/sidebar',  { area: 'traveler', active:'/trips'}) %>
     <div class="app-main">
        <main class="app-content">
            <h1>Share Trip</h1>
            <% if (trips.length === 0) {%>
            <p>No shared trips.</p>
            <% } else { %>
                <% trips.forEach(trip => { %>

                   <div class="card mb-3 p-3">

                    <h3><%= trip.tripName %></h3>

                    <p>
                        Destination: 
                        <%= trip.destination %>
                    </p>

                    <p>
                        Status:
                        <%= trip.status %>
                    </p>

                    <% if (trip.status ==="Pending") { %>

                        <form action="/ShareTrip/<%= trip.id %>/accept" method="POST">
                            <button type="submit" class="btn btn-secondary">Accept</button>
                        </form>
                        <form action="/ShareTrip/<%= trip.id %>/reject" method="POST">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    <% }else if (trip.status === "Accepted") {%>
                        <p>Accepted</p>                        
                    <% } else if (trip.status === "Rejected") {%>
                        <p>Rejected</p> 
                    <% } %>
                    
                   </div>
                   <% }); %>
                <% } %>
                
            
            
    
            
        </main>
    </div>
</div>
</body>
</html> 
            
        
