<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Trips: Noxelle Travel</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="app-body">
    <%- include('partials/apptopbar') %>
    <div class="app-shell">
        <%- include('partials/sidebar',{area: 'traveler', active: '/trips'}) %>
        <div class="app-main">
            <main class="app-content">
                <h1>My Trips</h1>
                <a href="/trips/new"> Add a New Trip</a>

                <% if (trips.length > 0) {%>
                    <% trips.forEach(function(trip){ %>
                    <div class ="trip-card">
                        <h2>
                            <a href="/trips/<%= trip.tripId %>">
                                <%= trip.tripName %>
                            </a>
                        </h2>
                        <p>Destination: <%= trip.destination %></p>
                        <p>Start Date: <%= new Date (trip.startDate).toLocaleDateString() %></p>
                        <p>End Date: <%= new Date (trip.endDate).toLocaleDateString() %></p>
                        <p>Status: <%=trip.status %></p>

                        <% if (trip.image) { %>
                        <img src="/images/<%= trip.image %>" alt ="<%= trip.tripName %>" width="180">
                        <% } %>
                    </div>
               <% }) %>
               <% } else {%>}
               <p>No Trip found.</p>

               <% } %>
            </main>
            </div> 
    </div>
</body>
</html>

